.input-field {
    border: 1px solid #ced4da; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 10px;
  }
  
  .btn {
   
    border-radius: 20px; 
    padding: 5px 15px;
    font-size: 14px; 
    margin-left: 10px; 
  }
  